body{
    font-family: Arial, sans-serif;
    background-color: #e6f2ff;
    color: #222;
    padding: 30px;
    text-align: center;
}

.container {
    background-color: aqua;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0,1);
    max-width: 500px;
    margin: auto;

    
}

.profile-pic {
    width: 150px;
    height: 150;
    border-radius: 50px;
    object-fit: cover;
    margin-bottom: 20px;
    border: 4px solid#0077cc;

}

a {
    text-decoration: none;

}

.facebook {
    color: black;
}

.facebook:hover {
    color: black;
    text-decoration: underline;
}

.email {
    color: black;

}

.email:hover {
    color: black;
    text-decoration: underline;

}


ul, ol {
    text-align: left;
    margin: 20px auto;
    max-width: 300px;

}

h1, h3 {
    color: #036;

}

@media screen and (max-width: 600px) {
    .container {
        padding: 20px;
    }

    .profile-pic {
        width: 120px;
        height: 120px;
    }
    
}
    



